@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body {
    margin: 0;
    min-width: 160px;
}

header{
    height: 15vh;
    color:gainsboro;
    font-family: 'Josefin Sans', sans-serif;
}

ul u{
    font-size: large;
}

ul hr{
    border-top: 1px solid whitesmoke;
}

i{
    line-height: unset !important;
}

.text-hot{
    color: #ff4800 !important;
}

.stars{
    color:darkslategrey;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: center;
    line-height: unset !important;
}

.stars{
    color:orange;
}

.stars .half-checked{
    width:1em;
    height: 1em;
}

.fa-trash{
    cursor: pointer;
}